.bingc-phone-button .bingc-language-ua .bingc-show {
    bottom: 2% !important;
    right: 2% !important;
    left: auto !important;
}


#bingc-phone-button {
    bottom: 2% !important;
    right: 2% !important;
    left: auto !important;
}