@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 47px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .navbar-nav {
    text-align: center;
  }


  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed~.navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}

.navbar {

  @media (min-width: 992px) {
    padding: 0 1rem !important;
    background-color: rgba(250, 250, 250, 0.6);

    .blue-line {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(100% - 30px);
        height: 4px;
        background: $lt-blue;
        z-index: 1;
      }
    }
  }

  .btn-call {
    @include screen_992 {
      display: none;
    }
  }

  &-mobile-phones-wrapper {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;

    @media (min-width: 375px) {
      flex-flow: wrap column;
      position: absolute;
      right: 90px;
      left: auto;
      top: -7px;
      width: auto;
    } 

    @media (min-width: 992px) {
      display: none;
    }

    .mobile-phones {
      font-size: 0.9rem;
      font-weight: 500; 
      
      @media (min-width: 375px) {
        font-size: 0.8rem;
      } 
    }
  }

  .site-logo {
    .icon {
      width: 120px;
    
      @include screen_992 {
        width: 150px;
      }
  
    }

    span {
      display: none;
    }
  }
}

.navbar-nav {
  width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: none;
    margin-left: auto;
    margin-right: 0;
    width: auto;
    z-index: 2;
  }

  .nav-item {
    @media (min-width: 992px) {
      padding: 0 1.2rem;

      &:last-of-type {
        padding-right: 0;
      }
    }

    
  }

  .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 1rem;
    line-height: 22px;
    color: $drk-blue;
    padding-right: 0 !important;
    padding-left: 0 !important;

    &:last-of-type {
      font-weight: 500;
    }

    @media (min-width: 992px) {
      padding: 1.8rem 0;
      border-bottom: 4px solid transparent;
      transition: .4s;
      font-size: 18px;

      &:hover {
        border-bottom: 4px solid $drk-green;
        transition: .4s;
      }
    }
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;

  .toggle-line {
    width: 100%;
    height: 3px;
    background-color: $drk-green;
    transition: .3s;
    position: relative;
  }

  &[aria-expanded="true"] {

    .toggle-line:nth-of-type(1) {
      transform: rotate(45deg);
      transform-origin: left top;
      width: 27px;
      left: 5px;
      transition: .5s;
    }

    .toggle-line:nth-of-type(2) {
      width: 0;
      transition: .3s;
      transition-delay: .3s;
    }

    .toggle-line:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: left bottom;
      width: 27px;
      left: 5px;
      transition: .5s;

    }
  }
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  width: auto;
  min-width: auto;
  background-color: transparent;

  @include screen_992 {
    background-color: white;
  }

  &.show {
    display: inline-block;
  }

  // li item
  .nav-item {
    padding: 0;

  }

  // link item
  .dropdown-item {
    text-align: center;
    font-weight: 600;

    @include screen_992 {
      font-weight: 400;
    }

    &:active  {
      background-color: #01588e;
    }
  }
}

//dropdown menu of button
.btn-theme.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: max-content;
  align-self: center;
  flex-direction: column;
  background: transparent;
  
  &:after {
    content: none;
  }
  
  @include screen_992 {
    flex-direction: row;
  }

  .dropdown-menu {
    margin-top: 19px;
  }

  .dropdown-toggle.nav-link {
    background: linear-gradient(90deg, rgba(0, 71, 122, 1), rgba(6, 184, 255, 1));
  }

  a {
    display: block;
    height: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.055em;
    border: 0;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    z-index: 5;

    @include screen_992 {
      font-weight: 400;
    }

    span {
      color: white;
      padding: 0 30px;
    }

    &:hover {
      border-bottom: none;
      transition: 0;
    }
  }

  .dropdown-toggle {
    &:after {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 10px;
      color: white;
    }
  }

  .dropdown-item {
    border-radius: 0;

    &:active  {
      background-color: #01588e;

      span {
        color: white;
      }
    }

    a {
      border-radius: 0;
    }

    span {
      color: black;
      padding: 0;
    }

  }
}

.navbar-brand {
  margin-right: auto;
}



// .navbar-brand {
//   font-style: normal;
//   font-weight: 600;
//   color: $black;
//   margin: 0;
//   padding: 0;
//   font-size: 18px;

//   &:hover {
//     color: #001210;
//   }

//   @media (min-width: 992px) {
//     font-size: 24px;
//     line-height: 29px;
//   }

//   .icon {
//     position: relative;
//     bottom: 2px;
//   }

//   .icon-wrapper {
//     position: relative;
//     margin-right: 12px;

//     &:before {
//       content: '';
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       transform: translate(-50%, -50%);
//       width: 40px;
//       height: 40px;
//       background-color: transparent;
//       border-radius: 15%;
//     }
//   }

//   span {
//     color: $lt-green;
//   }
// }